# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/

# Distribution
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage
.coverage
.pytest_cache/
htmlcov/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment variables
.env

# Docker
*.tar

# Kubernetes
*.swp
